<h1 class="text-center"> WELCOME TO THE SAMPLE APP </h1>
<hr/>

<p class="text-center"> Tran The Vinh - 20134628 </p>
<div class="text-center"><a href="/login"><button class="btn btn-primary text-center"><h3>Sign up</h3> </button></a></div>
