h1{
  color: blue;
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 20px;
  font-weight: 700;
}

p{
padding: 30px;
font-size: 30px;
}

footer{
width: 100%;
position: absolute;
bottom: 0px;
}

footer, footer>span{
height: 60px;
background-color: #F2F2F2;
padding: 0px 50px 0px 50px;
line-height: 60px;
}