<footer>
  <span class="pull-left"><%= link_to 'Rails Tutorials', 'https://www.railstutorial.org/' %></span>
  <span class="pull-right">About</span>
  <span class="pull-right">Contact</span>
  <span class="pull-right">News</span>
</footer>
